a{
    color: #3300ffc3;
    margin: auto; 
}
a:hover{
    color: rgb(58, 58, 58); 
    border: 10px dotted #3300ffc3;
}

#a{
    background-color: rgb(57, 57, 57); /* mudei cor de fundo */
    color: #3300ffc3; /* mudei cor da letra */
    height: 150px; /* altura  do bloco*/
    width: 100px; /* largura do bloco */
    
    
    /*espaçamento -> do conteudo até a borda, cor transparente padrão*/
    padding: 2cm;
    
    /*border*/
    border-width: 2cm;      /* tamanho da borda */
    border-color: #3300ffc3; /* cor da borda */
    border-style: ridge;   /* estilo da borda */

    border: 10px groove  #3300ffc3; /*border com tudo junto*/

    /*margin=margem*/
    margin: auto;

    /* overflow  -> controle do limite de conteudo do elemento */
    overflow: auto;

}

#s{
    margin: auto;
    color:  #3300ffc3;
    background-color: rgb(46, 46, 46);
    height: 0.8cm;
    width: 3cm;
    font-size: larger;
    font-style: italic;
    border: 8px ridge  #3300ffc3;
}

#t{
    margin: auto;
    height: max-content;
    width: max-content;
    color:  #3300ffc3;
    background-color: rgb(61, 61, 61);
    border: 8px ridge  #3300ffc3;

    /*display: inline;*/
}

/* ESTILOS DE BORDA:

    # none nenhuma
    # hidden: invisível
    # dotted: pontilhada
    # dashed: tracejada
    # solid: sólida
    # double: dupla
    # groove: estilizada
    # ridge: moldura
    # inset: relevo interno
    # outset: relevo externo

*/
/* TIPOS DE OVERFLOW:

    # visible : aparece td o texto
    # hidden : só aparece o que cabe na caixa
    # scroll : você consegue descer o texto dentro da caixa (barra de rolagem)
    # auto: barra de rolagem aparece se nescessário

*/


/*  RESUMO COMANDOS 

    #   " border " = borda -> linha que envolve a area do espaçamento , cor com: "border-color:"; estilo com: "border-style:"; espeçura da borda com:"border-width:"
    #   " padding " = espaçamento -> do conteudo até a borda, cor transparente padrão 
    #   " margin " = margem  -> area que envolve a borda 
    #   " backgroud-color: " -> cor do fundo - será aplicada ao conteudo e espaçamento
    #   " color " = cor da letra
    #   " height " = altura 
    #   " width " = largura 
    #   " overflow " -> controle do limite de conteudo do elemento 
    #   " display " -> inline ( coloca o texto em linha ) 
                    -> inline-block ( coloca texto em linha bloqueada )
                    -> etc...


    * tamanho relativo ( % ) ou absoluto ( px , cm , mm) *    
*/